{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
        <div class='render'>


        </div>

        {{ encore_entry_script_tags('mic') }}

    <article id="presentation-part">
        <section id="a-propos">
            <p> A Propos </p>
        </section>
        <section id="a-propos-content">
            <h1 class="main-title"> Découvrez de la musique à travers le travail de notre média </h1>
            <div class="line"></div>
            <h2 class="sub-title"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </h2>
            <a href="#" class="redirect"> En savoir plus </a>
        </section>
    </article>


    <article class="category">
        <h1 class="title"> Les playlists Inflow </h1>
        <div class="content">

        </div>
        <a href="#" class="redirect"> Découvrir des sons </a>
    </article>

    <div class="band">
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
    </div>

    <article class="category">
        <h1 class="title"> Nous sommes aussi en LIVE </h1>
        <div class="content">

        </div>
        <a href="#" class="redirect"> C'est parti </a>
    </article>

    <div class="band">
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
    </div>

    <article class="category">
        <h1 class="title"> Youtube et nos articles </h1>
        <div class="content">

        </div>
        <a href="#" class="redirect"> Suivez l'actualité Inflow </a>
    </article>

    <div class="band">
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
        <span class="band-group">
            <span>Rap</span>
            <span>Media</span>
            <span>Artistes</span>
            <span>Vidéo</span>
            <span>LIVE</span>
            <span>Playlists</span>
        </span>
    </div>

    <article id="staff-part">
        <section id="artistes">
            <p> Les artistes </p>
        </section>
        <section id="staff-content">
            <h1 class="main-title"> Lorem ipsum </h1>
            <div class="line"></div>
            <h2 class="sub-title"> Lorem ipsum dolor sit amet consectetur adipisicing elit. </h2>
            <p> Ensemble des artistes avec lesquels Inflow a travaillé </p>
            <div id="list-artiste">

            </div>
        </section>
    </article>
{% endblock %}
