/* ==================================================== Accueil ============================================== */

/* All */

.line-up, .line-down {
    width: 100%;
    height: 3px;
    background: linear-gradient(to bottom right, #000, #000);
}

.line-up {
    transform: rotate(-2deg);
}

.line-down {
    transform: rotate(2deg);
}

// #logo-and-mic {
//     // width: 100%;
//     // height: 100%;
//     // position: relative;
//     // z-index: -1;
//     // transform-style: preserve-3d;

//     // penché la div
//     transform: skewY(2deg);

//     // photo de fond
//     background-image: url("../img/all/concert.png");
//     background-size: cover;
//     background-position: center;

// }

// // enfant de #logo-and-mic
// #logo-and-mic > * {
//     // penché la div
//     transform: skewY(-2deg) !important;
// }

/* Parallax */
#header-parallax {
    background-image: url("../img/all/concert.png");
    background-size: cover;
    background-position: center;
    padding: 5rem;
    min-height: 70vh;
    position: relative;
}

#header-parallax-mask {
    position: absolute;
    inset: 0;
    // background: rgb(0 0 0 / 0.5);
    

    -webkit-mask: url("../svg/parallax-mask.svg");
    mask: url("../svg/parallax-mask.svg");
    
}

#header-parallax-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
}



/* Vidéos */

#videos-part {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-size: 2rem;
        font-weight: 700;
        color: white;
        padding-left: 5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        background: #0077e6;
    }

    #new-videos {
        background: white !important;
    }

    a {
        margin: 0em 0.5em;

        // colle le bas de la div
        margin-bottom: -0.4em;

        margin-top: 0.5em;

        // taille des images
        width: 15em;
        height: 10em;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.1em;

        // overlay
        filter: brightness(30%);
    }

    // hover sur les images
    a:hover img {
        transform: scale(1.1);
        transition: transform 0.5s;

        // overlay
        filter: brightness(100%);

    }

    // quitte le hover
    a:hover:not(:hover) img {
        transform: scale(1);
        transition: transform 0.5s;
    }

    .band-group {
        animation: defilementInverse 40s linear infinite !important;
    }

}

/* LIVE */

#live-part {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-size: 2rem;
        font-weight: 700;
        color: white;
        padding-left: 5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #new-lives {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10em 5em;
    }

}

/* Spotify */

#playlist-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 0em;
    // photo de fond
    background-image: url("../img/all/playlists_background_2.png");
    background-size: cover;

    // léger assombrissement sur la photo de fond
    background-color: rgb(0, 0, 0);

    h2 {
        font-size: 1.5rem;
        font-weight: 400;
        color: white;
        padding-left: 5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #playlists {

    }

    #album {
        align-self: flex-end;
        padding: 2em 0em;
        h2 {
        }
    }

    #new-playlists, #new-albums {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: var(--spotify-color);
        height: 20em;
    }

    #new-playlists {
        width: 90%;
        border-radius: 0px 6px 6px 0px;

        // centrage des images
        justify-content: center;
        align-items: center;

        padding: 0em 5em;

        overflow: hidden;
    }

    #new-playlists a {
        width: 20%;
        height: 80%;

        padding: 0.5em;
    }

    #new-playlists a img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        border: 1px solid var(--spotify-color);
        border-radius: 0.5em 0.5em 0em 0em;

        // ombre
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

        // lumière
        -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(0,0,0,0.2));

        // overlay
        filter: brightness(30%);
    }

    // hover sur les images
    #new-playlists a:hover img {
        transform: scale(1.1);
        transition: transform 0.5s;

        // ombre
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

        // lumière
        -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(0,0,0,0.2));

        // overlay
        filter: brightness(100%);
    }

    #new-albums {
        width: 220%;
        border-radius: 6px 0px 0px 6px;

        // translater la div vers la gauche
        transform: translateX(-38em);

        // centrage des images
        justify-content: center;
        align-items: center;


        overflow: hidden;

    }

    #new-albums a {
        width: 40%;
        height: 80%;

        padding: 0.5em;
    }

    #new-albums a img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        border: 1px solid var(--spotify-color);
        border-radius: 0.5em 0em 0em 0.5em;

        // ombre
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

        // lumière
        -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(0,0,0,0.2));

        // overlay
        filter: brightness(30%);
    }

    // hover sur les images
    #new-albums a:hover img {
        transform: scale(1.1);
        transition: transform 0.5s;

        // ombre
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

        // lumière
        -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(0,0,0,0.2));

        // overlay
        filter: brightness(100%);
    }

    .line {
        width: 30em;
        height: 2px;
        background: var(--spotify-color);
        margin-bottom: 1em;
    }
}

/* bandeau */

.band {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    font-size: 2em;
    line-height: 2em;
    font-weight: 700;
    background: rgba(9,9,121,0.7);
}

.band-group {
    display: flex;
    flex-flow: row nowrap;
    white-space: nowrap;
    padding: 0.5em 0em;
    animation: defilement 10s linear infinite;
}

.band-group span {
    display: block;
    white-space: nowrap;
    margin: 0 0.7em;
    color: rgb(0, 174, 255);

}

.twitch {
    background: linear-gradient(180deg, rgba(109,26,206,1) 60%, rgba(79,11,184,1) 75%);
}

.twitch_logo img {
    width: 100px;
    height: 100px;
    object-fit: cover;

    margin: 0px 50px;

    // descente de la div
    transform: translateY(5px);

    // lumière
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));

    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,0.2));

}

.twitch_text img {
    width: 250px;
    height: 100px;
    object-fit: cover;

    // lumière
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));

    -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(0,0,0,0.2));
}



// animation défilement mots bandeau
@keyframes defilement {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes defilementInverse {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}


/* Micro */

#mic-part {
    width: 100%;


    .render {
        // placer le micro vers la droite
        background: inherit;
    }

}