@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-blue: #164DE5;
    --secondary-deep-blue: #02187B;
    --tertiary-light-blue: #5CDFFB;
    --tertiary-blue: #1E89EF;

    --primary-dark: #0A0C10;
    --light-dark: #424345;
    --dark-grey: #7D7E80;
    --blue-grey: #95A1AD;

    --light-blue-grey: #85BECA;
    --grey: #B9B9B9;
    --light-grey: #D8D8D8;
    --white: #FFFFFF;

    --gradient-heading: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.38) 100%);
    --transparent-stroke: rgba(0, 0, 0, 0.13);
    --transparent-background: rgba(0, 0, 0, 0.03);

    --white-transparent-button: rgba(255, 255, 255, 0.13);
}

// ------- Global Styles -------

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-blue);
    color: var(--white);
    width: 100%;
    height: 100%;
}

main {
    margin: 0 12.5rem;
    display: flex;
    flex-direction: column;
    z-index: -10;

    gap: 12.5rem;
}

img {
    max-width: fit-content;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    z-index: 10;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    backdrop-filter: blur(1.9rem);

    border-radius: 1.5rem;
    border: 0.1rem solid var(--transparent-stroke);

    background: var(--transparent-background, rgba(0, 0, 0, 0.03));
    color: var(--light-grey);

    padding: 0.1rem 8rem;
    margin: 3rem 5rem;
}

.section-separator {
    height: 2.5rem;
}


// ------- End Global Styles -------

// ------- Navbar -------

.active {
    color: var(--white) !important;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    height: fit-content;
    box-sizing: border-box;
}

.account-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    box-sizing: border-box;
}

// ------- End Navbar -------

// ------- Fonts -------

.h1-heading {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 7.5rem;
    line-height: 1;
    text-transform: capitalize;
}

.h2-heading {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 5.75rem;
    line-height: 1.1;
    text-transform: capitalize;
}

.h3-heading {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 1.1;
    text-transform: capitalize;
}

.h4-heading {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.1;
    text-transform: capitalize;
}

.h6-heading {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1;
    text-transform: capitalize;
}

.p1-paragraph {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 1.5;
}

.p2-paragraph {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
}

.p3-paragraph {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: capitalize;
}

.ui-label-regular {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5;
}

.ui-label-medium {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5;
}

.ui-label-semi-bold {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.5;
    text-transform: capitalize;
    overflow-wrap: break-word;
}

// ------- End Fonts -------

// ------- Buttons -------

.transparent-button {
    border-radius: 1rem;
    background: var(--white-transparent-button);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.classic-button {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

// ------- End Buttons -------

// ------- Blur -------
.blur-width {
    filter: blur(5.1rem);
    background: var(--primary-blue);
    width: 100rem;
    height: 40rem;
}

#blur1 {
    filter: blur(6rem);
    background: conic-gradient(from 131.38deg at 50% 50%, #164DE5 0deg, #164DE5 63.53deg, #1A54F5 110.12deg, #5CDFFB 177.67deg, #02187B 189.32deg, rgba(1, 13, 66, 0.53) 238.83deg, #164DE5 360deg);
    transform: rotate(45deg);
    width: 77.5rem;
    height: 83.8rem;

    position: absolute;
    top: 15rem;
    left: 10rem;

    z-index: -1;
}

// ------- End Blur -------

// ------- Shadow -------

.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.91);
}

.image-shadow {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 1));
}

// ------- Home -------

.home-section {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: 100%;

    box-sizing: border-box;

    padding: 10rem 0;

    gap: 7.5rem;
}

.home-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    word-wrap: break-word;
    gap: 3.5rem;

}

.home-section-text {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
}

.title-home {
    display: inline-block;
    overflow-wrap: break-word;
    background: var(--gradient-heading);
    color: var(--gradient-heading, transparent);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-home {
    color: var(--light-grey);
}

// Main

#main-image {
    display: flex;
    flex-direction: column;
    height: fit-content;

    position: relative;
    top: -10rem;

    width: 100%;
    height: 100%;

    z-index: -10;
}

#main-image img {
    position: absolute;
    top: 0;
    left: 0;
}

#band-blur1 {
    position: absolute;
    top: 60rem;
    left: 25rem;
}

// News
#news-image-frame {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;

    position: relative;

    width: 100%;
    height: 100%;

    z-index: -10;
}


#news-image-frame h3 {
    position: absolute;
    top: 20rem;
    z-index: 0;
}

#news-image-frame p {
    position: absolute;
    top: 44rem;
    z-index: 0;
}

#shadow-news-image {
    position: absolute;
    top: 42.1rem;
}


// ------- End Home -------

