* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: visible;
}

header:before {
    content:"";
    z-index: -1;
    position: absolute;
    top: 0;
    height: calc(100% - 3px);
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3px), 0 calc(100% - 2vw - 3px));
    background-image: url("../img/all/banner.png");
    background-size: cover;
    overflow: visible;
}

header:after {
    content:"";
    position: absolute;
    z-index:-1;
    width: 100%;
    top: 0;
    height: calc(100% - 3px);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 2vw));
    background-color: #000000;
    z-index: -2;
    overflow: visible;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    padding-bottom: 1em;
    z-index: 2;
}


header nav #logo img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

header nav a {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}


header nav #main-header a {
    padding: 0 10px;
    /* font style */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    margin: 0 0.3em;
    border-radius: 0.5em;
    padding: 0.4em;
    margin: 0 1em;
    box-sizing: border-box;
    border: 2px solid transparent;
}

/* Header hover */
#main-header a:hover {
    /* color: #000000; */
    border: 2px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
}

#main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Dropdown */
#member {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    overflow: visible;
    position: relative;
}

.dropdown {
    transition: 1s;
    position: absolute;
    margin: auto;
    transform: translateX(-45%);
    top: calc(100%);
    opacity: 0;
    max-height: 0;
}

.dropdown:hover {
    display: flex;
}

#member:hover {
    .dropdown {
        display: flex;
        transition: max-height 1s, opacity 1s;
        opacity: 1;
        max-height: 5em;
    }
    .dropdown-content {
        display: flex;
        max-height: 5em;
        transition: max-height 1s, padding 1s;
        opacity: 1;
        padding: 0.5em;
    }
}

.dropdown-content {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    max-height: 0;
    transition: max-height 1s, padding 1s;
    margin-top: 0.3em;
    padding: 0 0.5em;
    overflow: hidden;
    background-color: #611ffc;
    background-image: url("../img/all/banner.png");
    background-size: cover;
    background-position: 80% 50%;
    border-radius: 2px;
}

/* Main */
main {
    
}




/* Article */

.articleShow {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 3em;
}

.articleTitle {
    border: 1px solid black;
}

.articleWithMD {
    display: flex;
    flex-direction: row;
}

.articleMetaData {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex: 1;
}

.articleContent {
    border: 1px solid black;
    flex: 5;
}

.addedCategoryDisplay {
    min-height: 2em;
    min-width: 4em;
    max-width: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1em;
    box-sizing: border-box;
    padding: 0.5em;
    border: 1px solid black;
}

.addedCategoryDisplay p {
    margin: auto;
    padding: 0;
    font-size: 0.8rem;
}

.addedCategoryDisplay button {
    margin: auto;
    padding: 0;
    font-size: 0.8rem;
    height: 1em;
    width: 1em;
    margin-left: 1em;
}

#addedCategoriesContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.editionFormComponent {
    display: none;
}

.commentSection {
    display: flex;
    border: 1px solid black;
    margin: auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comments {
    display: flex;
    border: 1px solid black;
    margin: auto;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

/* #comment is the form generated with this id by symfony */

#addComment {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.commentSubmission {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.commentForm {
    flex: 5;
    textarea {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }
}

/* form[name="comment"] {
    display: flex;
    float: 5;
} */

.comment-MD {
    flex: 1;
}

.commentFormContainer {
    width: 100%;
}

.comments > form {
    width: 100%;
}

.comment {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    position: relative;
    min-height: 3em;
    margin: 0.3em 0;
    width: 100%;
}

.comment.reply {
    width: calc(100% * (5/6));
}

.loadingChanges {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.2);
}

.comment-edition-deletion {
    display: flex;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

.comment-MD {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex: 1;
    padding: 0.4em;
}

.comment-content {
    display: flex;
    border: 1px solid black;
    flex: 5;
    padding: 0.4em;
}

.comment.template {
    display: none;
}

.comment-with-replies {
    width: 100%;
}