@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-blue: #164DE5;
    --secondary-deep-blue: #02187B;
    --tertiary-light-blue: #5CDFFB;
    --tertiary-blue: #1E89EF;

    --primary-dark: #0A0C10;
    --light-dark: #424345;
    --dark-grey: #7D7E80;
    --blue-grey: #95A1AD;

    --light-blue-grey: #85BECA;
    --grey: #B9B9B9;
    --light-grey: #D8D8D8;
    --white: #FFFFFF;

    --gradient-heading: linear-gradient(359.6deg, #FFFFFF 99.7%, rgba(255, 255, 255, 0.38) 222.8%);
    --transparent-stroke: rgba(0, 0, 0, 0.13);
    --transparent-background: rgba(0, 0, 0, 0.03);

    --white-transparent-button: rgba(255, 255, 255, 0.13);
}

// ------- Global Styles -------

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
    background-color: var(--primary-blue);
    color: var(--white);
    width: 100%;
}

header {
    backdrop-filter: blur(1.9rem);

    border-radius: 1.5rem;
    border: 0.1rem solid var(--transparent-stroke);

    background: var(--transparent-background, rgba(0, 0, 0, 0.03));
    color: var(--light-grey);

    padding: 0.9rem 5.4rem;
    margin: 3rem 4.6rem;

    // box-sizing: border-box;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


// ------- End Global Styles -------

// ------- Navbar -------

.active {
    color: var(--white) !important;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    height: fit-content;
    box-sizing: border-box;
}

.account-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    box-sizing: border-box;
}


// ------- Fonts -------

.h1-heading {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 120px;
    line-height: 1;
    text-transform: capitalize;
}

.h2-heading {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 92px;
    line-height: 1.1;
    text-transform: capitalize;
}

.h3-heading {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 40px;
    line-height: 1.1;
    text-transform: capitalize;
}

.h4-heading {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    text-transform: capitalize;
}

.h6-heading {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    text-transform: capitalize;
}

.p1-paragraph {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
}

.p2-paragraph {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
}

.p3-paragraph {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-transform: capitalize;
}

.ui-label-regular {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

.ui-label-medium {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}

.ui-label-semi-bold {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.5;
    text-transform: capitalize;
    overflow-wrap: break-word;
}

// ------- End Fonts -------

// ------- Buttons -------

.transparent-button {
    border-radius: 1rem;
    background: var(--white-transparent-button);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

// ------- End Buttons -------