{% extends 'base.html.twig' %}

{% block title %}Inflow{% endblock %}

{% block body %}
    <div class="card">
        <img class="card-img-top" src="{{resultat.images[0].url}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{resultat.name}}</h5>
        </div>
    </div>




{% endblock %}
