{% extends 'base.html.twig' %}

{% block title %}Inflow{% endblock %}

{% block body %}

    <link rel="alternate" type="application/json+oembed" href="https://open.spotify.com/oembed?url=https%3A%2F%2Fopen.spotify.com%2Fshow%2F5eXZwvvxt3K2dxha3BSaAe" />
    {% for playlist in playlists %}

        <div class="card">
            <a href="{{path('app_spotify_playlist', {'name': playlist.name})}}">
                <img class="card-img-top" src="{{playlist.images[0].url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{playlist.name}}</h5>
                </div>
            </a>
        </div>

    {% endfor %}



{% endblock %}
